footer.main-footer
    .container
        .main-footer__text
            p Благотворительный фонд «Подари жизнь», 119048, г.Москва, ул.Доватора, д.13, <i class="br"></i> подъезд 2А
            p donate@podari-zhizn.ru,<i class="br"></i> +7 (495) 995-31-05,  +7 (495) 995-31-06
        .main-footer__bottom
            ul.social
                li.fb
                    a(href="")
                        img(src="images/svg/social-fb.svg" alt="")
                li.tw
                    a(href="")
                        img(src="images/svg/social-tw.svg" alt="")
                li.inst
                    a(href="")
                        img(src="images/svg/social-inst.svg" alt="")
            a(href="").link Основной сайт