header.main-header
    .container
        .main-header__wrapper
            picture.logo
                a(href="index.html")
                    img(src="images/svg/logo.svg", alt="")
            a(href="") Основной сайт