.gifts {
    padding-bottom: 237px;
    @media(max-width: 1025px) {
        padding-bottom: 70px;
    }
    @media (max-width: 769px) {
        order: 1;
        padding-bottom: 70px;
    }
}

.gifts__wrapper {
    display: flex;
    flex-direction: column;
    .title {
        font-size: 45px;
        font-family: $font-add;
        font-weight: 400;
        margin-bottom: 42px;
        text-align: center;
        @media (max-width: 769px) {
            font-size: 26px;
            margin-bottom: 30px;
        }
    }
    a#show-more {
        font-size: 24px;
        font-family: $font-add;
        color: $color-white;
        background-color: $color-red;
        line-height: 51px;
        padding: 0 40px;
        text-decoration: none;
        align-self: center;
        @media (max-width: 769px) {
            font-size: 18px;
            line-height: 39px;
            padding: 0 30px;
        }
    }
}

.gifts__list {
    display: flex;
    flex-wrap: wrap;
    li {
        width: calc(100% / 3);
        display: flex;
        margin-bottom: 62px;
        & > * {
            display: flex;
            justify-content: center;
        }
        picture {
            height: 100%;
            img {
                object-fit: contain;
            }
            @media (max-width: 769px) {
                max-width: 90px;
                margin-bottom: 14px;
            }
        }
        span.name {
            font-size: 21px;
            font-weight: 300;
            text-align: center;
            margin-bottom: 14px;
            @media(max-width: 1025px) {
                margin-bottom: 8px;
            }
            @media (max-width: 769px) {
                font-size: 15px;
                margin-bottom: 9px;
            }
        }
        span.price {
            font-family: $font-add;
            font-size: 24px;
            @media (max-width: 769px) {
                font-size: 20px;
            }
        }
        @media(max-width: 1025px) {
            margin-bottom: 35px;
        }
        @media (max-width: 769px) {
            width: calc(100% / 2);
            margin-bottom: 30px;
        }
    }
}
