.slogan {
    margin-bottom: 64px;
    h1 {
        font-size: 45px;
        font-family: $font-add;
        font-weight: 400;
        text-align: center;
        @media (max-width: 767px) {
            font-size: 26px;
        }
    }
    @media(max-width: 1024px) {
        margin-bottom: 10px;
    }
    @media (max-width: 767px) {
        order: 2;
    }
}
