doctype html
html(lang="ru")
    head
        include modules/head.pug
    body
        include modules/header.pug

        main
            .content
                .container
                    .content__header
                        .button.button--prev Назад
                        h1.title Собери открытку сам!
                        .button.button--next Далее
                    .content__inner






        include modules/footer.pug
        include modules/nav-bottom.pug
        //- include modules/menu-mobile.pug
        include modules/script.pug